services:
  mock-payment-service:
    build: ./mock-payment-service
    container_name: mock-payment-service
    ports:
      - "8081:8081"
    networks:
      - payment-network

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: payment_user
      POSTGRES_PASSWORD: payment_pass
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - payment-network

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8080:8080"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: payment_db
      DB_USER: payment_user
      DB_PASSWORD: payment_pass
      MOCK_SERVICE_URL: http://mock-payment-service:8081
    depends_on:
      - mock-payment-service
      - postgres
    networks:
      - payment-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: payment-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    depends_on:
      - payment-service
    networks:
      - payment-network

networks:
  payment-network:
    driver: bridge

volumes:
  postgres-data:
