server:
  port: 8081
  shutdown: graceful

spring:
  application:
    name: mock-payment-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    com.example.mockpayment: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%15.15t] %-5level %40.40logger{40} - %msg%n"
